/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Prabhki";
  src: url("./fonts/Prabhki.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Prabhki.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Prabhki.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Prabhki.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Prabhki.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Prabhki.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Prabhki.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GurbaniAkharThick";
  src: url("./fonts/GUAKTH.eot"); /* IE9 Compat Modes */
  src: url("./fonts/GUAKTH.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/GUAKTH.otf") format("opentype"), /* Open Type Font */
    url("./fonts/GUAKTH.svg") format("svg"), /* Legacy iOS */
    url("./fonts/GUAKTH.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/GUAKTH.woff") format("woff"), /* Modern Browsers */
    url("./fonts/GUAKTH.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "RaajMedium";
  src: url("./fonts/raaj5.eot"); /* IE9 Compat Modes */
  src: url("./fonts/raaj5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/raaj5.otf") format("opentype"), /* Open Type Font */
    url("./fonts/raaj5.svg") format("svg"), /* Legacy iOS */
    url("./fonts/raaj5.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/raaj5.woff") format("woff"), /* Modern Browsers */
    url("./fonts/raaj5.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "RaajaaMedium";
  src: url("./fonts/raajaa5.eot"); /* IE9 Compat Modes */
  src: url("./fonts/raajaa5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/raajaa5.otf") format("opentype"), /* Open Type Font */
    url("./fonts/raajaa5.svg") format("svg"), /* Legacy iOS */
    url("./fonts/raajaa5.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/raajaa5.woff") format("woff"), /* Modern Browsers */
    url("./fonts/raajaa5.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GurOldLetterpress";
  src: url("./fonts/gurletp5.eot"); /* IE9 Compat Modes */
  src: url("./fonts/gurletp5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/gurletp5.otf") format("opentype"), /* Open Type Font */
    url("./fonts/gurletp5.svg") format("svg"), /* Legacy iOS */
    url("./fonts/gurletp5.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/gurletp5.woff") format("woff"), /* Modern Browsers */
    url("./fonts/gurletp5.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akaash";
  src: url("./fonts/Akaash.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Akaash.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Akaash.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Akaash.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Akaash.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Akaash.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Akaash.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MuktaMahee-Light";
  src: url("./fonts/MuktaMahee-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MuktaMahee-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MuktaMahee-Light.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MuktaMahee-Light.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MuktaMahee-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MuktaMahee-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MuktaMahee-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
