@import url('font.css');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Libre+Baskerville|Roboto');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji&subset=gurmukhi');

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

header{
    position: fixed;
    width: 100%;
    margin-top:10px;
    z-index: 10;
}

h1,h2,h3{
    font-weight: normal;
}

.page{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container{
    width: 100%;
    max-width: 700px;
    line-height: 1.5;
    height: inherit;
}

.logo{
    display: inline;
    font-size: 60px;
    font-family: 'Prabhki';
    font-weight: normal;
    padding: 40px 25px 10px 25px;
    border-radius: 20px;
    background-color: #fafafa;
    color: #333;
}

.navigation{
    list-style-type: none;
    position: absolute;
    right: 20px;
    top:15px;
    padding:10px;
    background-color: white;
    border-radius: 10px;
}

.nav-item{
    display: inline;
    background-color: white;
    width:80px;
    text-decoration: none;
    color: #333;
    font-size:16px;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: 0.4s all ease;
    border:1px dotted white;
}

.nav-item:hover{
    background-color: #998b75;
    color: white;
    border-radius: 5px;
}

.active{
    color: #22313F;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    
}

.featured-tasveer{
    max-width:600px;
    height: auto;
    display: block;
}

.tagline{
    font-family: 'MuktaMahee-Light';
    font-size: 36px;
    padding-top: 30px;
    text-align: center;
    color: #333;
}

.paragraph{
    color:#fafafa;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0px 20px 0px;
    padding: 30px;
}


.punjabi{
    font-family: 'MuktaMahee-Light';
}

.page-heading{
    text-align: center;
    font-size: 54px;
    color: white;
    text-shadow: 2px 2px 0px #333;
    font-family: 'Baloo Paaji', 'cursive';
    padding: 30px;
}

.page-heading > .punjabi{
    font-family: 'Baloo Paaji', 'cursive';
}

.meaning{
    display: none;
    width:250px;
    height: 130px;
    background-color: white;
    border: 1px dotted #333;
}

.about{
    position: relative;
    background-image: url('amritsar.png');
    background-size: cover;
    background-position: top center;
}

.about::after{
    content: "";
    background-color:#998b75;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
}

.about > .content-container{
    z-index: 5;
}

.contact{
    background-color: #333;
}

.pb-word{
    font-size: 32px;
    padding: 15px 0px 10px 0px;
    color: #333;
}

.en-word{
    font-size: 20px;
    padding: 5px 0px 20px 0px;
    font-family: 'Roboto', sans-serif;
}

.def{
    font-size: 16px;
    line-height: 1.5;
    color: #3e3e3e;
    padding-bottom: 5px;
}


@media (max-width: 600px){
    .featured-tasveer{
        width:80%;
        height:auto;
    }
    .nav-item > a{
        display: block;
    }
    .navigation{
        width: 100%;
        top:0px;
        left: 0px;
        text-align: center;
        display: none;
    }
}