*{
    margin: 0px;
    padding: 0px;
}


html, body{
    width: 100%;
    height: 100%;
}

.pb-word{
    font-size: 32px;
    padding: 15px 0px 10px 0px;
    color: #333;
}

.en-word{
    font-size: 20px;
    padding: 5px 0px 20px 0px;
    font-family: 'Roboto', sans-serif;
}

.def{
    font-size: 16px;
    line-height: 1.5;
    color: #3e3e3e;
    padding-bottom: 5px;
}

.app{
    max-width:700px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

input{
    border: none;
    width: 100%;
    height: 70px;
    font-size: 32px;
    background: transparent;
    border-bottom: 3px dotted midnightblue;
}

input:focus{
    outline: none;
}

.result{
    width:100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.tags{
    width:600px;
    margin:auto;
    display: none;
}

.clickable{
    margin: 30px;
    font-family: 'Baloo Paaji', 'cursive';
    display: inline-block;
}

.loader{
    display: none;
}